{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
    <h2 class="text-center">{{ article.user.username }}님의 {{ article.pk }}번 글</h2>
    <img src="{{ article.image.url }}">
    <p>{{ article.content }}</p>
    <p>{{ article.withsomeone }}님과 함께</p>
    <p>{{ article.created_at }}에 작성된 글</p>
    <hr>
    <h3>작성된 댓글</h3>
    {% for comment in article.comment_set.all %}
        <p>{{ comment.user.username }}: {{ comment.content }}</p>
    {% endfor %}
    <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button>작성</button>
    </form>
{% endblock %}