{% extends 'base.html' %}

{% load bootstrap4 %}

{% block body %}
    <div class="row">
        <section class="col-8">
            {% for article in articles %}
                <div class="card px-0 my-4">
                    <div class="card-header bg-white">
                        <a href="{% url 'accounts:profile' article.user.username %}" class="text-dark font-weight-bold">{{ article.user.username }}</a>
                        <p class="text-secondary mb-0">{{ article.location }}에서</p>
                     </div>
                  <img src="{{ article.image_resizetofill.url }}" class="card-img-top" alt="bread">
                  <div class="card-body">
                     {% if request.user in article.like_users.all %}
                        <a href="{% url 'articles:like' article.pk %}"><i class="fas fa-heart fa-lg animated infinite pulse delay-2s" style="color:red;"></i></a>
                    {% else %}
                        <a href="{% url 'articles:like' article.pk %}"><i class="fas fa-heart fa-lg" style="color:grey;"></i></a>
                    {% endif %}

                    <a href="{% url 'articles:detail' article.pk %}"><i class="far fa-comment-dots fa-lg" style="color:black"></i></a>
                    <p>{{ article.like_users.count }}명이 좋아합니다.</p>

                    <p class="mb-0"><span class="font-weight-bold">{{ article.user.username }}</span> {{ article.content }}</p>
                  </div>
                  <hr class="my-0">

                  <!-- comment -->
                  <div class="card-body d-flex justify-content-between align-items-center">
                    {% if article.comment_set.all.count == 0 %}
                        <p class="mb-0">작성된 댓글이 없습니다. 댓글을 달아주세요!</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FormModal">
                          댓글달기
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="FormModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="FormModalLabel">댓글 작성</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <button>작성</button>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    {% else %}
                        <p class="mb-0">작성된 댓글이 {{ article.comment_set.all.count }}개 있습니다.</p></a>

                        <a href="{% url 'articles:detail' article.pk %}"><button type="button" class="btn btn-primary">댓글 모두 보기</button></a>

                    {% endif %}
                  </div>
                </div>
            {% endfor %}
        </section>

        <aside class="col-4">
            <div class="my-4">
            {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:profile' request.user.username %}"><span class="text-dark font-weight-bold ml-2">✨ {{ request.user.username }} ✨</span></a>

                <div class="card px-0 my-4">
                    <div class="card-header bg-white">{{ request.user.username }} 님을 위한 셀럽 추천</div>
                    <div class="my-1">
                    {% for eachUser in allUser %}
                        <div class="d-flex justify-content-between mx-2 my-1">
                        {% if eachUser != request.user %}
                            <p class="m-1"><a href="{% url 'accounts:profile' eachUser.username %}" class="text-dark">{{ eachUser.username }}</a></p>
                            {% if request.user in eachUser.followers.all %}
                                <a href="{% url 'accounts:follow' eachUser.username %}"><button type="button" class="btn btn-outline-info btn-sm">언팔로우</button></a>
                            {% else %}
                                <a href="{% url 'accounts:follow' eachUser.username %}"><button type="button" class="btn btn-outline-info btn-sm">팔로우</button></a>
                            {% endif %}
                        {% endif %}
                        </div>
                    {% endfor %}
                    </div>

                </div>
            {% else %}
                <span class="text-dark font-weight-bold ml-2">AnonymousUser</span>
                <div class="border border-secondary rounded mt-2 p-2">
                    <p>로그인 하신다면 하실 수 있는 다양한 기능</p>
                    <ul>
                        <li>친구추천</li>
                        <li>글 작성</li>
                        <li>좋아요 누르기</li>
                        <li>팔로우하기</li>
                        <li>등등</li>
                    </ul>
                </div>
            {% endif %}
            </div>
            <div>
                <ul>
                    <li>댓글 삭제 기능</li>
                    <li>accounts:profile 모달에 articles:detail로 갈 수 있는 ui만들기</li>
                    <li>회원가입 확인 페이지 수정</li>
                    <li>자신이 올린 게시글공개/비공개 설정을 할 수 있지 않을까? js로...해야할 것 같지만.</li>
                    <li>css, js파일 따로 적용하는 방법? block css? </li>
                    <li>방명록? 쪽지나 종이 비행기 ui로 본인만 확인가능하게?</li>
                </ul>
            </div>
        </aside>
    </div>



{% endblock %}